#home {
    background-color: var(--bg-sub);
    display: flex;
    flex-direction: column;
    padding: 48px;
    position: relative;

    div {
        width: 100%;
    }

    #h_header {
        display: flex;
        align-items: center;
        gap: 16px;
        border-bottom: 1px solid var(--border);
        padding-bottom: 24px;

        span {
            font-family: var(--jetbrains-mono);
            color: var(--accent);
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.5px;
        }

        p {
            font-family: var(--jetbrains-mono);
            color: var(--text-muted);
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
    }

    #h_body {
        display: grid;
        grid-template-columns: 8fr 4fr;
        padding-top: 40px;

        #b_left {
            span {
                font-family: var(--jetbrains-mono);
                color: var(--accent);
                font-size: clamp(0.625rem, 0.555rem + 0.313vw, 0.75rem);
                font-weight: 500;
                letter-spacing: 1.2px;
            }

            p {
                font-family: var(--space-grotesk);
                color: var(--text);
                font-size: clamp(1.25rem, 0.688rem + 2.5vw, 2.25rem);
                font-weight: 600;

                strong {
                    font-size: clamp(2.25rem, 0.563rem + 7.5vw, 5.25rem);
                    font-weight: 700;
                    letter-spacing: -3px;
                }
            }

            #action_bt {
                display: flex;
                gap: 16px;
                padding-top: 40px;

                a {
                    padding: 16px 24px;
                    text-transform: uppercase;
                    font-family: var(--jetbrains-mono);
                    font-size: clamp(0.625rem, 0.555rem + 0.313vw, 0.75rem);
                    text-align: center;
                    font-weight: 600;
                    text-decoration: none;
                    transition: 0.4s;
                }

                #ex_bt {
                    background-color: black;
                    color: white;
                }

                #ex_bt:hover {
                    background-color: var(--accent);
                }

                #th_bt {
                    background-color: white;
                    color: black;
                    border: 1px solid black;
                }

                #th_bt:hover {
                    background-color: black;
                    color: white;
                }
            }
        }

        #b_right {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding-left: 40px;
            border-left: 1px solid var(--border);
            z-index: 2;

            div {

                span {
                    font-family: var(--jetbrains-mono);
                    color: var(--accent);
                    font-size: 10px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }

                p {
                    color: var(--text);
                    font-size: clamp(0.813rem, 0.742rem + 0.313vw, 0.938rem);
                    font-weight: 400;
                    font-family: var(--font-inter);
                    border-bottom: 1px solid var(--border);
                    padding-bottom: 16px;
                }

                section {
                    font-family: var(--jetbrains-mono);
                    background-color: var(--bg);
                    border: 1px solid var(--border);
                    padding: 8px;
                    font-size: 10px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    #h_footer {
        display: flex;
        justify-content: space-between;
        margin-top: 64px;
        padding-top: 16px;
        border-top: 1px solid var(--border);

        #f_left {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: var(--jetbrains-mono);
            color: var(--text-muted);
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.5;

            span {
                width: 6px;
                height: 6px;
                background-color: var(--accent);
                border-radius: 50px;
            }
        }

        #f_right {
            font-family: var(--jetbrains-mono);
            color: var(--text-muted);
            font-size: 10px;
            font-weight: 600;
            letter-spacing: 0.5;
        }
    }

    #zeros {
        position: absolute;
        width: 100%;
        height: fit-content;
        color: var(--bg-hover);
        font-size: 220px;
        font-weight: 600;
        font-family: var(--space-grotesk);
        text-align: end;
        line-height: 0.75;
        letter-spacing: -10px;
        top: 150px;
        left: 0;
        user-select: none;
        z-index: 1;
        overflow: hidden;
    }
}

@media (max-width:992px) {
    #h_body {
        grid-template-columns: 1fr !important;

        #b_left {
            margin-bottom: 50px;
        }

        #b_right {
            padding: 0 20px !important;
            border-right: 1px solid var(--border);
        }

        #action_bt {
            justify-content: center;
        }
    }

    #h_header {
        flex-direction: column;
    }

    #h_footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #zeros {
        top: 100vh !important;
    }
}

@media (max-width:445px) {
    #action_bt {
        flex-direction: column;
    }
}