html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

main {
    padding-top: 58px;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

@media (max-width: 405px) {
  main {
    padding-top: 106px;
  }
}